a {
    text-decoration: none;
}
.Nav-Containter { 
    display: flex;
    flex-direction: row;

    justify-content:space-between;
    background-color: white;
    padding-left: 10px;
    padding-top: 0px;
    border-bottom: 1px white solid;
    box-shadow:#fff;
    height: 70px;

}
.Nav-Containter h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style: normal;
}
div#Logo-Container {
    display:flex;
    flex-direction: row;
}
.off-screen-menu ul {
    padding-top: 3%;
    
}
.off-screen-menu li { 
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    list-style-type: none;
    display:block;
    padding: 5px;

}
/* formatação do ham-menu */
.ham-menu  {
    height: 50px;
    width: 50px;
    position: relative;

}
.ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #3acc8a;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3 ease;
        
    }

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(3) {
    top: 50px;
    background-color: #fff;
    transform: 
        translate(-50%,-50%)
        rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0%;
}
.ham-menu.active span:nth-child(1) {
    top: 50px;
    background-color: #fff;
    transform: 
        translate(-50%, -50%)
        rotate(-45deg);
}
.off-screen-menu {
    position: fixed;
    top: 0%;
    right: -75%;
    background-color:#3acc8a;
    height: 100vh;
    width: 75%;
    transition: right .5s;
}
.off-screen-menu.active {
    right: -45%;
}
@media screen and (max-width: 1024) {
    nav#Nav-Menu li { 
        
        font-optical-sizing: auto;
        font-weight: normal;
        list-style-type: none;
        display: inline;
        padding: 20px;
    
    }
}


@media screen and (max-width: 959) {
    
}
.Label-Container {
    background-image: linear-gradient(to right,#095a76, #3acc8a);
    display: flex;
    flex-direction: row;
    justify-content:end;
    padding: 100px 50px 100px 50px;
    color: white;
}
@media screen and (max-width: 1440px) {
    .Label-Container {
        flex-direction: column; /* Itens em coluna */
    }
}
.Label-Container-texts { 
    position: relative;
    flex-direction: column;
    padding: 0px 250px 0px 100px;
}
@media screen and (max-width: 750) {
    .Label-Container-texts { 
        position: relative;
        flex-direction: column;
        padding: auto;
    }
    .Label-Container {
        background-image: linear-gradient(to right,#095a76, #3acc8a);
        display: flex;
        flex-direction: row;
        justify-content:center;
        padding: 2px;
        color: white;
    }
    
}
.Label-Container-texts h3 {
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 25px;
}
.Label-Container-texts h2 {
    font-family: "Roboto-Condensed", sans-serif;
    font-size: 40px;
    padding-bottom: 0%;
}
.Label-Container-texts p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px;
}
@media screen and (max-width: 1024px) {
    .Label-Container-texts h3 {
        font-size: 20px;  /* Diminuir o tamanho do h3 */
    }
    
    .Label-Container-texts h2 {
        font-size: 30px;  /* Diminuir o tamanho do h2 */
    }
    
    .Label-Container-texts p {
        font-size: 22px;  /* Diminuir o tamanho do parágrafo */
    }
}

@media screen and (max-width: 768px) {
    .Label-Container-texts h3 {
        font-size: 18px;  /* Diminuir o tamanho do h3 */
    }
    
    .Label-Container-texts h2 {
        font-size: 26px;  /* Diminuir o tamanho do h2 */
    }
    
    .Label-Container-texts p {
        font-size: 18px;  /* Diminuir o tamanho do parágrafo */
    }
}
.right-image{
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 50px;
}
.right-image img {
    max-width: auto; 
}

@media screen and (max-width: 768px) {
    .right-image img {
        max-width: 95%;
    }
}

.button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 1.0s; /* Transição suave para o efeito hover */
  }
  
  .button:hover {
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #3acc8a; /* Mantém a cor da fonte */
  }


/* estilos da página CBHPM */

.CBHPM {
    height: 100%;
    display: flex;
    flex-direction: column;
}


div#full-height-div { 
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 15px;
}
div#containercontentcbhpm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div#divsearch {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.search-content-CBHPM { 
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 1.0s; /* Transição suave para o efeito hover */
    font-family: "Montserrat", sans-serif;}
.search-content-CBHPM:hover { 
    background-color: #fff; /* Fundo branco ao passar o mouse */
    color: #3acc8a; /* Mantém a cor da fonte */

}
div#divsearch label {
    padding-right: 15px;
}
.content { 
    width: auto;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 8px; /* Bordas ligeiramente arredondadas */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 1.0s; /* Transição suave para o efeito hover */
    font-family: "Montserrat", sans-serif;
}